<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>info.sleeplessmind.cantonese</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>06654538-5D81-4D7B-968E-5EE064FCFCAB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4D0D351A-3B44-40C8-A6CB-786F74504C19</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>3BDE7309-FAC7-4015-AEC7-F41FD7EA3AF9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EAA914FA-F86A-4A3F-801E-800227F2F381</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4D0D351A-3B44-40C8-A6CB-786F74504C19</key>
		<array/>
		<key>6EAB10A6-93E9-440A-A643-95C045782BB4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E85B40EA-6E1B-464D-8AC8-5034B07B4D5D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>90635928-0364-40F9-AC63-B2C28CF0890C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C60BB5E8-1F7B-4780-A456-D7AA40C18531</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BC3B199A-5897-4113-9AD8-29E23CD52DB3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>90635928-0364-40F9-AC63-B2C28CF0890C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C60BB5E8-1F7B-4780-A456-D7AA40C18531</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>226E176A-D575-4AFF-8257-385A02910C40</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D33B13B6-3629-4F3B-A411-0D27462DEAE8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EAA914FA-F86A-4A3F-801E-800227F2F381</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E85B40EA-6E1B-464D-8AC8-5034B07B4D5D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BC3B199A-5897-4113-9AD8-29E23CD52DB3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>EAA914FA-F86A-4A3F-801E-800227F2F381</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6EAB10A6-93E9-440A-A643-95C045782BB4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Guill Lo</string>
	<key>description</key>
	<string>Some shit to record cantonese words that I'm not still sure about</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Cantonese</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>largetypetext</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>4D0D351A-3B44-40C8-A6CB-786F74504C19</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>100</integer>
				<key>keyword</key>
				<string>canto</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>php src/commands/list.php "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>dumbass</string>
				<key>title</key>
				<string>What are you looking for?</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>06654538-5D81-4D7B-968E-5EE064FCFCAB</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{var:cantonese} ➡️ {var:english} in 📂️ {var:file}</string>
				<key>title</key>
				<string>Your Shit is Recorded!</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>C60BB5E8-1F7B-4780-A456-D7AA40C18531</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>addword</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>D33B13B6-3629-4F3B-A411-0D27462DEAE8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>addword</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>226E176A-D575-4AFF-8257-385A02910C40</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>subtext</key>
				<string>you douchebag</string>
				<key>text</key>
				<string>Type your Cantonese word first</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>EAA914FA-F86A-4A3F-801E-800227F2F381</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>subtext</key>
				<string>little cunt</string>
				<key>text</key>
				<string>Now you type the English one</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E85B40EA-6E1B-464D-8AC8-5034B07B4D5D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>echo "| $cantonese | $english |" &gt;&gt; "$file"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>90635928-0364-40F9-AC63-B2C28CF0890C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>cantonese</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>6EAB10A6-93E9-440A-A643-95C045782BB4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>english</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>BC3B199A-5897-4113-9AD8-29E23CD52DB3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>cantoadd</string>
				<key>subtext</key>
				<string>This will be recorded in your magical file</string>
				<key>text</key>
				<string>Add a cantonese word</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>3BDE7309-FAC7-4015-AEC7-F41FD7EA3AF9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>06654538-5D81-4D7B-968E-5EE064FCFCAB</key>
		<dict>
			<key>xpos</key>
			<integer>200</integer>
			<key>ypos</key>
			<integer>70</integer>
		</dict>
		<key>226E176A-D575-4AFF-8257-385A02910C40</key>
		<dict>
			<key>xpos</key>
			<integer>890</integer>
			<key>ypos</key>
			<integer>330</integer>
		</dict>
		<key>3BDE7309-FAC7-4015-AEC7-F41FD7EA3AF9</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>400</integer>
		</dict>
		<key>4D0D351A-3B44-40C8-A6CB-786F74504C19</key>
		<dict>
			<key>xpos</key>
			<integer>440</integer>
			<key>ypos</key>
			<integer>70</integer>
		</dict>
		<key>6EAB10A6-93E9-440A-A643-95C045782BB4</key>
		<dict>
			<key>xpos</key>
			<integer>370</integer>
			<key>ypos</key>
			<integer>360</integer>
		</dict>
		<key>90635928-0364-40F9-AC63-B2C28CF0890C</key>
		<dict>
			<key>xpos</key>
			<integer>710</integer>
			<key>ypos</key>
			<integer>330</integer>
		</dict>
		<key>BC3B199A-5897-4113-9AD8-29E23CD52DB3</key>
		<dict>
			<key>xpos</key>
			<integer>620</integer>
			<key>ypos</key>
			<integer>360</integer>
		</dict>
		<key>C60BB5E8-1F7B-4780-A456-D7AA40C18531</key>
		<dict>
			<key>xpos</key>
			<integer>750</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
		<key>D33B13B6-3629-4F3B-A411-0D27462DEAE8</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>270</integer>
		</dict>
		<key>E85B40EA-6E1B-464D-8AC8-5034B07B4D5D</key>
		<dict>
			<key>xpos</key>
			<integer>440</integer>
			<key>ypos</key>
			<integer>330</integer>
		</dict>
		<key>EAA914FA-F86A-4A3F-801E-800227F2F381</key>
		<dict>
			<key>xpos</key>
			<integer>210</integer>
			<key>ypos</key>
			<integer>330</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>file</key>
		<string>/Users/guill/Library/Mobile Documents/27N4MQEA55~pro~writer/Documents/22. Cantonese/cantonese.md</string>
	</dict>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string>https://sleeplessmind.info</string>
</dict>
</plist>
